[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==2.2.1"
matplotlib = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
